{% extends 'bugsnag/_layouts' %}
{% import '_includes/forms' as forms %}

{% set crumbs = [
    { label: 'Bugsnag' | t('bugsnag'), url: url('bugsnag/settings') },
    { label: 'Settings' | t('app'), url: url('bugsnag/settings') }
] %}

{% set selectedTab = 'settings' %}
{% set fullPageForm = true %}

{% block blockContent %}

<input type="hidden" name="action" value="plugins/save-plugin-settings">
<input type="hidden" name="pluginHandle" value="bugsnag">

{% namespace 'settings' %}

{{ forms.booleanMenuField({
    label: 'Enabled' | t('bugsnag'),
    instructions: 'Enable exception logging.' | t('bugsnag'),
    id: 'enabled',
    name: 'enabled',
    includeEnvVars: true,
    first: true,
}) }}

{{ forms.autosuggestField({
    label: 'Server API key' | t('bugsnag'),
    instructions: 'You can find the API key immediately after creating a new project from your Bugsnag dashboard, or later on your project’s settings page.' | t('bugsnag'),
    id: 'serverApiKey',
    name: 'serverApiKey',
    value: settings.serverApiKey,
    suggestEnvVars: true,
    required: true,
}) }}

{{ forms.autosuggestField({
    label: 'Browser API key' | t('bugsnag'),
    instructions: 'You can find the API key immediately after creating a new project from your Bugsnag dashboard, or later on your project’s settings page.' | t('bugsnag'),
    id: 'browserApiKey',
    name: 'browserApiKey',
    value: settings.browserApiKey,
    suggestEnvVars: true,
    required: true,
}) }}

{{ forms.autosuggestField({
    label: 'Release stage' | t('bugsnag'),
    id: 'releaseStage',
    name: 'releaseStage',
    value: settings.releaseStage,
    suggestEnvVars: true,
}) }}

{% set blacklistItems = settings.getBlacklist() %}

{{ forms.editableTableField({
    label: 'Blacklist' | t('bugsnag'),
    instructions: 'Disable certain types of exceptions. Class have to be fully namespaced. (i.e. \\yii\\web\\NotFoundHttpException)' | t('bugsnag'),
    id: 'blacklist',
    name: 'blacklist',
    cols: {
        label: {
            type: 'singleline',
            heading: 'Label',
            code: true,
        },
        class: {
            type: 'singleline',
            heading: 'Class',
            code: true,
        }
    },
    rows: blacklistItems,
}) }}

{% endnamespace %}

{% endblock %}
